{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% load django_browser_reload %}
    {% load livereload_tags %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Turbotailer
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Turbotailer" />
    <meta name="author" content="Emil Nielsen" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'project' 'css' %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock javascript %}
    {% livereload_script %}
  </head>
  <body>
    <div class="mb-4">
      <nav class="flex items-center justify-between flex-wrap bg-gray-100 p-6">
        <div class="container mx-auto">
          <button class="block lg:hidden px-3 py-2 border rounded text-black border-black"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="text-black font-semibold text-xl tracking-tight"
             href="{% url 'home' %}">Turbotailer</a>
          <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto"
               id="navbarSupportedContent">
            <div class="text-sm lg:flex-grow">
              <a href="{% url 'home' %}"
                 class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">Home</a>
              <a href="{% url 'about' %}"
                 class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">About</a>
              <!-- Additional links and conditional content -->
              {% if request.user.is_authenticated %}
                <a href="{% url 'users:detail' request.user.pk %}"
                   class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">{% translate "My Profile" %}</a>
                <a href="{% url 'account_logout' %}"
                   class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">{% translate "Sign Out" %}</a>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <a id="sign-up-link"
                     href="{% url 'account_signup' %}"
                     class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">{% translate "Sign Up" %}</a>
                {% endif %}
                <a id="log-in-link"
                   href="{% url 'account_login' %}"
                   class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-4">{% translate "Sign In" %}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
          <p>Use this document as a way to quick start any new project.</p>            
      {% endblock content %}
    </div>
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
    {% django_browser_reload_script %}
  </body>
</html>
