{% load static i18n cookie_consent_tags %}
{% load custom_cookie_tags %}

{% get_all_cookies as all_cookies %}
{% url "cookie_consent_cookie_group_list" as url_cookies %}
{% if request|cookie_consent_enabled %}
  {% not_accepted_or_declined_cookie_groups request as cookie_groups %}
  {% cookie_consent_accept_url cookie_groups as url_accept %}
  {% cookie_consent_decline_url cookie_groups as url_decline %}
  {% all_cookie_groups 'cookie-consent__cookie-groups' %}
  <template id="cookie-consent__cookie-bar">
    {% with cookie_groups=cookie_groups|join:", " %}
      <div id="cookieModal">
        <div class="fixed inset-0 flex items-center justify-center p-4 bg-black/50 z-50">
          <div class="bg-white shadow-xl max-w-6xl w-full rounded-xl">
            <div class="space-y-4 p-5 overflow-y-scroll max-h-[90vh] lg:max-h-[80vh]">
              <p class="text-xl font-semibold">{% translate 'Vi anvender cookies' %}</p>
              <p>
                {% translate 'Denne hjemmeside anvender cookies for bedre performance, brugeradfærdig samt markedsføring. Venligst tilkendegiv hvilke cookies du accepterer' %}
              </p>
              <div class="space-y-3" id="cookieAccordion">
                {% for group in all_cookies %}
                  <div class="border rounded-lg">
                    <p class="bg-gray-200 px-4 py-2">{{ group }}</p>
                    <div class="overflow-x-auto">
                      <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                          <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">{% translate 'Navn' %}</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">{% translate 'Beskrivelse' %}</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">{% translate 'Sti' %}</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">{% translate 'Domæne' %}</th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                          {% for cookie in group.cookie_set.all %}
                            <tr>
                              <td class="px-6 py-4">{{ cookie.name }}</td>
                              <td class="px-6 py-4">{{ cookie.description }}</td>
                              <td class="px-6 py-4">{{ cookie.path }}</td>
                              <td class="px-6 py-4">{{ cookie.domain }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="flex space-x-2">
                <button type="button"
                        class="cookie-consent__accept px-4 py-2 font-semibold bg-black text-white rounded-full flex-grow">
                  {% translate 'Accepter alle' %}
                </button>
                <button type="button"
                        class="cookie-consent__decline px-4 py-2 font-semibold text-black rounded-full border-2 border-black flex-grow">
                  {% translate 'Kun nødvendige' %}
                </button>
                <!-- <a href="{{ url_cookies }}" class="inline-flex items-center">{% translate 'Indstillinger' %}</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endwith %}
  </template>
{% endif %}
{% url 'cookie_consent_status' as status_url %}
{% include "./show-cookie-bar-script.html" with status_url=status_url %}
