{% load menu_tags wagtailcore_tags i18n static %}

{% wagtail_site as current_site %}
<div class="container sticky top-4 z-40">
  <!--Main nav-->
  <nav class="bg-white rounded-2xl border-2 bordergray-300 mt-6 px-2 py-2 md:px-4 md:py-3 shadow-lg">
    <div class="flex justify-between">
      <div class="flex">
        <a href="{% pageurl current_site.root_page %}"
           class="flex items-center justify-center h-full w-[150px]">
          <img src="{% static 'images/logo/turbotailer.svg' %}"
               alt="Turbotailer Logo" />
        </a>
        <div class="h-100 bg-gray-300 mx-6 border-[1.5px] hidden lg:block"></div>
        <div class="hidden flex-auto lg:flex lg:items-center lg:justify-center">
          <ul class="flex items-center">
            {% main_menu max_levels=1 template="tags/top_menu.html" %}
          </ul>
        </div>
      </div>
      <!-- Toggle button for mobile view -->
      <div>
        <button id="dropdownButton"
                class="border-2 border-black shadow-lg rounded-full lg:hidden"
                type="button"
                aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-20 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
          </svg>
        </button>
      </div>
      <!-- Calendly link widget begin -->
      <button type="button"
              class="font-semibold rounded-full border-2 border-black shadow-md px-4 py-2 hidden lg:block"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">
        {% translate 'Book et møde' %}
      </button>
      <!-- Calendly link widget end -->
    </div>
    <div id="dropdownMenu" hidden>
      <ul class="mr-auto">
        {% main_menu max_levels=1 template="tags/top_menu.html" %}
      </ul>
      <button type="button"
              class="font-semibold rounded-full border-2 border-black shadow-md mt-4 px-4 py-2 w-full"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">
        {% translate 'Book et møde' %}
      </button>
    </div>
  </nav>
</div>
