{% load navigation_tags wagtailcore_tags i18n %}

{% wagtail_site as current_site %}
<!--Subheader-->
<div class="container fixed-top">
  <div class="container p-0 mb-3 d-flex align-items-end justify-content-between"
       id="subheader">
    <div class="d-flex flex-fill justify-content-between justify-content-sm-start">
      <a href="tel:{{ site_info.phone }}"
         class="me-4 text-white text-decoration-none">
        <i class="bi bi-telephone me-2"></i> {{ site_info.phone }}
      </a>
      <a href="mailto:{{ site_info.email }}"
         class="text-white text-decoration-none">
        <i class="bi bi-envelope-at me-2"></i> {{ site_info.email }}
      </a>
    </div>
  </div>
  <!--Main nav-->
  <nav class="navbar navbar-expand-lg bg-white rounded-4 px-2 shadow">
    <div class="container">
      <a href="{% pageurl current_site.root_page %}" class="navbar-brand">{% company_logo %}</a>
      <button class="navbar-toggler border-0 p-0"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          {# main_menu is defined in base/templatetags/navigation_tags.py #}
          {% get_site_root as site_root %}
          {% top_menu parent=site_root calling_page=self %}
        </ul>
      </div>
      <button type="button"
              class="btn btn-primary fw-bolder rounded-4 d-none d-lg-block"
              data-bs-toggle="modal"
              data-bs-target="#formModal">{% translate 'Få et godt tilbud' %}</button>
    </div>
  </nav>
</div>
