{% extends "base.html" %}

{% load i18n wagtailimages_tags utils %}

{% block content %}
  <div class="container grid grid-cols-12 mt-8 gap-8">
    <div class="col-span-12 lg:col-span-8">
      <h1 class="text-black text-3xl md:text-6xl font-semibold mb-5 mt-10">{{ self.title }}</h1>
      <h2 class="text-black text-lg">{{ self.subtitle }}</h2>
      {{ page.body }}
    </div>
    <div class="col-span-12 lg:col-span-4">
      <h3 class="text-xl font-semibold mb-3">{% translate 'Have a talk with Emil' %}</h3>
      {% get_me_image as hardcoded_image %}
      {% if hardcoded_image %}
        {% picture hardcoded_image width-390 format-{avif,webp,jpeg} class="mb-5" loading="lazy" %}
      {% endif %}
      <button type="button"
              class="w-full text-md font-semibold px-4 rounded-full h-14 items-center bg-black text-white pe-3 flex"
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">
        <div class="grow text-left">{% translate 'Book a call' %}</div>
        <span class="bg-white text-black h-10 w-10 rounded-full ms-3 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="2"
               stroke="currentColor"
               class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </span>
      </button>
    </div>
  </div>
{% endblock content %}
