{% load menu_tags i18n %}

{% for menuitem in menu_items %}
  <li class="{% if menuitem.active %}font-semibold{% else %}font-medium{% endif %} flex items-center sm:mr-8 py-2 sm:py-0 {% if not forloop.last %}border-b-2 sm:border-0{% endif %}">
    {% if menuitem.has_children_in_menu %}
      <div>
        <button @click="open = !open"
                class="bg-transparent border-none px-0 py-2"
                type="button"
                id="dropdownMenuButton-{{ forloop.counter }}"
                aria-haspopup="true"
                aria-expanded="false">
          {{ menuitem.text }} <i class="bi bi-three-dots text-secondary"></i>
        </button>
        <!-- Dropdown Menu -->
        <ul x-show="open"
            class="dropdown-menu absolute hidden bg-white shadow-md mt-2"
            aria-labelledby="dropdownMenuButton-{{ forloop.counter }}">
          <!-- Parent Item as the First Item in Dropdown -->
          <li>
            <a class="block px-4 py-2 font-medium text-gray-700 hover:bg-gray-100"
               href="{{ menuitem.href }}">{{ menuitem.text }}</a>
          </li>
          <!-- Child Items -->
          <!-- Remember to add childs -->
        </ul>
      </div>
    {% else %}
      <a href="{{ menuitem.href }}" class="text-black hover:text-gray-800">{{ menuitem.text }}</a>
    {% endif %}
  </li>
{% endfor %}
