{% load navigation_tags wagtailcore_tags i18n %}

{% get_site_root as site_root %}
{% for menuitem in menuitems %}
  <li class="{% if menuitem.active %}font-semibold{% endif %} flex items-center mr-8">
    {% if menuitem.show_dropdown %}
      <div>
        <button @click="open = !open"
                class="bg-transparent border-none px-0 py-2"
                type="button"
                id="dropdownMenuButton-{{ forloop.counter }}"
                aria-haspopup="true"
                aria-expanded="false">
          {{ menuitem.title }} <i class="bi bi-three-dots text-secondary"></i>
        </button>
        <!-- Dropdown Menu -->
        <ul x-show="open"
            class="dropdown-menu absolute hidden bg-white shadow-md mt-2"
            aria-labelledby="dropdownMenuButton-{{ forloop.counter }}">
          <!-- Parent Item as the First Item in Dropdown -->
          <li>
            <a class="block px-4 py-2 text-normal text-gray-700 hover:bg-gray-100"
               href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
          </li>
          <!-- Child Items -->
          {% top_menu_children parent=menuitem %}
        </ul>
      </div>
    {% else %}
      <a href="{% pageurl menuitem %}" class="text-black hover:text-gray-800">{{ menuitem.title }}</a>
    {% endif %}
  </li>
{% endfor %}
