@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-rotate-1 {
    rotate: (-15deg);
}

.custom-rotate-2 {
    rotate: (5deg);
}

.custom-rotate-3 {
    rotate: (15deg);
}

.custom-rotate-4 {
    rotate: (-15deg);
}

.custom-rotate-5 {
    rotate: (15deg);
}

.custom-rotate-6 {
    rotate: (5deg);
}

.custom-rotate-7 {
    rotate: (-15deg);
}
