{% load audit_form_tag wagtailimages_tags static i18n %}

<div class="container relative mx-auto px-4 mb-40 lg:mb-20">
  <div class="w-full lg:w-1/2 bg-black rounded-[20px]">
    <div class="p-4 h-full">
      <div class="relative bg-gradient-to-b from-blue-400 to-blue-500 rounded-[15px] w-full h-full">
        <div class="relative z-10 p-8">
          <h2 class="text-xl lg:text-4xl text-white drop-shadow-md font-bold mb-3 lg:mb-5">
            {% translate 'Få en gratis hjemmeside rapport' %}
          </h2>
          <p class="text-white text-md lg:text-xl drop-shadow-md mb-6 lg:mb-10">
            {% translate 'Har du en eksisterende hjemmeside? Så få en GRATIS hjemmeside rapport, udarbejdet personligt af Emil.' %}
          </p>
          {% get_audit_form %}
        </div>
        <!-- Image Positioned Absolutely -->
      </div>
    </div>
  </div>
  <img src="{% static 'images/illustrations/line.png' %}"
       class="absolute top-1/2 right-40 transform -translate-y-1/2 z-[-1] hidden lg:block"
       alt="line" />
</div>
