{% load static wagtailcore_tags wagtailimages_tags %}

<div class="container mb-20 lg:mb-40">
  {% if self.title %}
    <h1 class="text-black text-3xl md:text-6xl font-semibold mb-5 mt-10">{{ self.title }}</h1>
  {% endif %}
  <div class="grid md:grid-cols-12 mb-10">
    <div class="md:col-span-6 lg:col-span-8 mb-5 md:mb-0">
      {% if self.sub_title %}<h2 class="text-black text-lg">{{ self.sub_title }}</h2>{% endif %}
    </div>
    <div class="md:col-span-6 lg:col-span-4 flex md:items-end md:justify-end gap-4">
      {% for button in self.buttons %}
        {% include_block button %}
      {% endfor %}
    </div>
  </div>
  <!-- Image Container -->
  <div class="relative">
    <!-- Main Image with higher z-index -->
    {% picture self.image width-800 format-{avif,webp,jpeg} class="z-10" %}
    <!-- Static Image Positioned Under Main Image -->
    <img src="{% static 'images/illustrations/line.png' %}"
         class="absolute top-1/2 left-0 transform -translate-y-1/2 -translate-x-1/2 z-[-1] hidden lg:block"
         alt="line" />
    <img src="{% static 'images/illustrations/line.png' %}"
         class="absolute top-1/2 right-10 transform -translate-y-1/2 z-[-1] hidden lg:block"
         alt="line" />
  </div>
</div>
