{% load wagtailcore_tags wagtailimages_tags %}

<div class="rounded-xl shadow-lg border border-slate-200 pt-6 pl-6 {% if not self.align_right %}pr-6{% endif %} bg-customBeigeLight flex flex-col h-full col-span-1 lg:col-span-{{ self.col_span }}">
  {% picture self.icon width-80 format-{avif,webp,jpeg} loading="lazy" %}
  <h3 class="text-xl font-semibold mb-3">{{ self.title }}</h3>
  <p class="text-justify mb-5">{{ self.description }}</p>
  <div class="mt-auto {% if self.align_right %}ml-auto{% else %}mx-auto{% endif %}">
    {% picture self.image original format-{avif,webp,jpeg} loading="lazy" %}
  </div>
</div>
