{% load i18n wagtailimages_tags %}

<style>
  .custom-list-icon li {
    list-style: none;
    background-image: url('/static/images/illustrations/list.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    padding: 0;
    padding-left: 25px;
    height: 20px;
    line-height: 18px;
  }
</style>
<div class="container">
  <h2 class="text-3xl lg:text-6xl font-semibold mb-5 lg:mb-10">{% translate 'Planer' %}</h2>
  <!-- border bg-white rounded-xl shadow-lg -->
  <div class="mt-6 mb-5 flex border rounded-xl p-2 shadow-lg sticky top-4 z-50 bg-customBeige lg:hidden">
    <div class="nav-item p-3 flex-auto text-center font-semibold border bg-white rounded-xl shadow-lg"
         data-target="plan1">{% translate 'Starter' %}</div>
    <div class="nav-item p-3 flex-auto text-center font-semibold"
         data-target="plan2">{% translate 'Turbo' %}</div>
    <div class="nav-item p-3 flex-auto text-center font-semibold"
         data-target="plan3">{% translate 'Custom' %}</div>
  </div>
  <div class="flex flex-col md:flex-row justify-center">
    <!-- Basic Plan -->
    <div class="priceplan flex-1 rounded-t-xl lg:rounded-l-xl lg:rounded-r-none mb-5 lg:mb-0 overflow-hidden shadow-lg bg-[#F8F7F4] border-[1.5px] border-slate-200"
         id="plan1">
      <div class="flex justify-between bg-white px-6 py-4 shadow-lg shadow-black/2 border-b-[1.5px] border-slate-200">
        <h2 class="text-xl font-semibold">{% translate 'Starter' %}</h2>
        <a class="underline font-semibold"
           onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">{% translate 'Book et møde' %}</a>
      </div>
      <div class="px-6 py-4">
        <div class="lg:h-64">
          <p class="text-lg mb-6 lg:h-[100px]">
            {% translate 'Professionel hjemmeside med unikt design inklusive 1 månedligt ændringsønske og sikkerhedsopdateringer' %}
          </p>
          <div class="font-sans text-xl lg:text-2xl m-0 mb-6 rounded-xl border-[5px] border-white drop-shadow-xl bg-black px-3 py-2 font-semibold inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-br from-[#DDF358] from-10% via-[#FBFE7F] to-[#FCFEA8]">999 kr / md</span>
          </div>
          <p>{% translate 'Ekskl. moms' %}</p>
          <p>{% translate 'Ingen binding' %}</p>
        </div>
        <hr class="mt-4 mb-3 border border-slate-200" />
        <h3 class="text-xl font-semibold mb-3">{% translate 'Inkluderer' %}</h3>
        <ul class="mb-6 custom-list-icon lg:h-96">
          <li class="mb-3">{% translate 'Skræddersyet design' %}</li>
          <li class="mb-3">{% translate '100% optimeret til mobil' %}</li>
          <li class="mb-3">{% translate 'Brugervenligt CMS' %}</li>
          <li class="mb-3">{% translate 'Min. 90 performance' %}</li>
          <li class="mb-3">{% translate 'Op til 8 sider' %}</li>
          <li class="mb-3">{% translate '10 komponenter' %}</li>
          <li class="mb-3">{% translate 'GDPR cookieindstillinger' %}</li>
          <li class="mb-3">{% translate 'Hosting' %}</li>
          <li class="mb-3">{% translate 'Cloudfront CDN' %}</li>
          <li class="mb-3">{% translate 'SSL Certifikat' %}</li>
          <li class="mb-3">{% translate 'Statistik & Tracking' %}</li>
          <li class="mb-3">{% translate 'DNS & E-mail' %}</li>
        </ul>
        <h3 class="text-xl font-semibold mb-3">{% translate 'Månedligt' %}</h3>
        <ul class="mb-6 custom-list-icon">
          <li class="mb-3">{% translate '1x ændringsønske' %}</li>
          <li class="mb-3">{% translate 'Sikkerhedsopdateringer' %}</li>
          <li class="mb-3">{% translate 'Statistik rapport' %}</li>
        </ul>
      </div>
    </div>
    <!-- Standard Plan -->
    <div class="priceplan flex-1 rounded-t-xl lg:rounded-t-none mb-5 lg:mb-0 overflow-hidden shadow-lg bg-[#F8F7F4] border-[1.5px] border-slate-200"
         id="plan2">
      <div class="flex justify-between bg-white px-6 py-4 shadow-md shadow-black/5 border-b-[1.5px] border-slate-200">
        <h2 class="text-xl font-semibold">{% translate 'Turbo' %}</h2>
        <a class="underline font-semibold"
           onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">{% translate 'Book et møde' %}</a>
      </div>
      <div class="px-6 py-4">
        <div class="lg:h-64">
          <p class="text-lg mb-6 lg:h-[100px]">
            {% translate 'Du får alt fra starter men op til 3 månedlige ændringsønsker samt mange valgfrie funktioner som f.eks. betalinger og medarbejderlogin' %}
          </p>
          <div class="text-xl lg:text-2xl m-0 mb-6 rounded-xl border-[5px] border-white drop-shadow-lg bg-black px-3 py-2 font-semibold inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-br from-[#DDF358] from-10% via-[#FBFE7F] to-[#FCFEA8]">1999 kr / md</span>
          </div>
          <p>{% translate 'Ekskl. moms' %}</p>
          <p>{% translate 'Ingen binding' %}</p>
        </div>
        <hr class="mt-4 mb-3 border border-slate-200" />
        <h3 class="text-xl font-semibold mb-3">{% translate 'Inkluderer' %}</h3>
        <ul class="mb-6 custom-list-icon lg:h-96">
          <li class="mb-3 underline">{% translate 'Alt fra starter' %}</li>
          <li class="mb-3">{% translate 'Kundelogin' %}</li>
          <li class="mb-3">{% translate 'Medarbejderlogin' %}</li>
          <li class="mb-3">{% translate 'Betalinger' %}</li>
          <li class="mb-3">{% translate 'Flere sprog' %}</li>
          <li class="mb-3">{% translate '+ 8 sider (16 i alt)' %}</li>
          <li class="mb-3">{% translate '+ 3 komponenter (13 i alt)' %}</li>
        </ul>
        <h3 class="text-xl font-semibold mb-3">{% translate 'Månedligt' %}</h3>
        <ul class="mb-6 custom-list-icon">
          <li class="mb-3 underline">{% translate 'Alt fra starter' %}</li>
          <li class="mb-3">{% translate '2x ekstra ændringsønsker' %}</li>
          <li class="mb-3">{% translate '5x indgående links' %}</li>
          <li class="mb-3">{% translate '3x SEO artikler' %}</li>
        </ul>
      </div>
    </div>
    <!-- Premium Plan -->
    <div class="priceplan flex-1 rounded-t-xl lg:rounded-r-xl lg:rounded-l-none overflow-hidden shadow-lg bg-[#F8F7F4] border-[1.5px] border-slate-200"
         id="plan3">
      <div class="flex justify-between bg-white px-6 py-4 shadow-md shadow-black/5 border-b-[1.5px] border-slate-200">
        <h2 class="text-xl font-semibold">{% translate 'Custom' %}</h2>
        <a class="underline font-semibold"
           onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">{% translate 'Book et møde' %}</a>
      </div>
      <div class="px-6 py-4">
        <div class="lg:h-64">
          <p class="text-lg mb-6 lg:h-[100px]">
            {% translate 'Kontakt os og hør nærmere om mulighederne for at lave en specialtilpasset hjemmeside som ikke passer indenfor de almindelige rammer.' %}
          </p>
          <div class="text-2xl m-0 mb-6 rounded-xl border-[5px] border-white drop-shadow-lg bg-black px-3 py-2 font-semibold inline-block">
            <span class="bg-clip-text text-transparent bg-gradient-to-br from-[#DDF358] from-10% via-[#FBFE7F] to-[#FCFEA8]">{% translate 'Pris efter aftale' %}</span>
          </div>
        </div>
        <hr class="mt-4 mb-3 border border-slate-200" />
        <h3 class="text-xl font-semibold mb-3">{% translate 'Få en snak med Emil' %}</h3>
        {% if self.image %}
          {% picture self.image width-390 format-{avif,webp,jpeg} class="mb-5" loading="lazy" %}
        {% endif %}
        <button type="button"
                class="w-full text-md font-semibold px-4 rounded-full h-14 items-center bg-black text-white pe-3 flex"
                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/emilnielsen/30min'});return false;">
          <div class="grow text-left">{% translate 'Book et møde' %}</div>
          <span class="bg-white text-black h-10 w-10 rounded-full ms-3 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="2"
                 stroke="currentColor"
                 class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
