{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="container mb-20">
  <div class="flex flex-wrap {% if self.reverse %}flex-row-reverse{% endif %}">
    <div class="w-full md:w-1/2 px-2 mb-3 lg:mb-0">
      {% if self.image %}
        {% picture self.image width-600 format-{avif,webp,jpeg} loading="lazy" %}
      {% endif %}
      {% if self.embed %}
        <div class="aspect-w-16 aspect-h-9">{% embed self.embed.url %}</div>
      {% endif %}
    </div>
    <div class="w-full md:w-1/2 flex items-center {% if self.reverse %} justify-start pr-md-5 {% else %} pl-md-5 {% endif %} px-2">
      <div class="md:w-4/5">
        {% if self.subtitle %}<h3 class="text-sm text-gray-600">{{ self.subtitle }}</h3>{% endif %}
        <h2 class="text-xl lg:text-4xl font-semibold mb-3">{{ self.title }}</h2>
        <div class="text-lg">{{ self.text|richtext }}</div>
        {% if self.buttons %}
          <div class="flex flex-col space-y-3 mt-4">
            {% for button in self.buttons %}
              <div>{% include_block button %}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
